body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.button1 {
    border-radius: 4px;
    border: none;
    padding: 4px 24px 4px 24px;
    background-color: #3882F6;
    color: white;
}

/* landing layout */
.landing {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 150px 0 150px;
}
/* header layout in landing */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    margin-bottom: 48px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
}

/* attention-grabber layout in landing */
.attention-grabber {
    display: flex;
    margin-bottom: 100px;
    gap: 128px;
}

.herotext {
    flex: 1;
}

.heromain{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.herosub {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 8px;
    width: 450px;
}

.image {
    flex: 1;
}


/* info layout */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 150px 150px 150px;
    gap: 48px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 48px;
}

.card {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #3882F6;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Missing text under cards will fix later */
}


/* quote layout */
.quote {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #E5E7EB;
    padding: 48px 150px 0px 150px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    padding: 0 150px 100px 150px;

}

/* sign-up layout */
.call-to-action{ 
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #3882F6;
    margin: 75px 150px 75px 150px;
    padding: 48px;
    border-radius: 10px;
    color: #E5E7EB;
}

.call-main {
    font-size: 36px;
    font-weight: bold;
}

.call-sub {
    font-size: 18px;    
}

.button2 {
    border: solid;
    border-radius: 8px;
    padding: 4px 24px 4px 24px;
    background-color: #3882F6;
    border-color: #E5E7EB;
    color: #E5E7EB;
}

/* footer layout */