body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}


/* Hero styling */
.hero {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.heroColumn {
    flex: 50%;
    color: #F9FAF8;
}

.heroTitle{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.heroSub {
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}


/* Info styling */
.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 256px 80px 256px;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 48px;
}

.cardImg {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.cardTxt {
    text-align: center;
    max-width: 150px;
}


/* Quote styling */
.quote {
    background-color: #E5E7EB;
    padding: 80px 500px 80px 500px;
}

.quoteMain {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quoteSub {
    margin: 0;
    text-align: right;
    font-weight: bold;
}


/* Action Layout */
.action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    margin: 64px 256px 64px 256px;
    padding: 48px 16px 48px 16px;
    gap: 48px;
}

.actionMain {
    font-size: 24px;
    font-weight: bolder;
}

.actionSub {
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}

.actionButton {
    color: #E5E7EB;
    background-color: #3882F6;
    border: solid;
    border-color: #E5E7EB;
    border-radius: 8px;
    padding: 4px 24px 4px 24px;
}


/* Footer styling */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}